*{
	box-sizing: border-box;
margin: 0;
padding: 0;
	
}
body{
	font-family: 'Raleway', sans-serif;
	background-color: #344a72;
	color: #fff;
	line-height: 1.6em;
}
#container{
	margin: 30px auto;
	max-width: 400px;
	padding: 20px;


	
}
.form-wrap{
	background: #fff;
	padding: 15px 25px;
	color: #333;
	

}
#container a{
	text-decoration: none;

}
.form-wrap p,.form-wrap h1{
	text-align: center;
}
.form-wrap .form-group{
	margin: 15px;
}
.form-wrap .form-group label {
	display: block;
	color: #666;
}
.form-wrap .form-group input{
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.form-wrap button:hover{
	background: #37a08e;
}
.form-wrap button{
	display: block;
	width: 100%;
	padding: 10px;
	background-color: #49c1a2;
	margin-top: 20px;
	color: #fff;
	cursor: pointer;
}
.form-wrap .bottom-text{
	font-size: 15px;
	margin-top: 20px;
}
footer{
	text-align: center;
	margin-top: 10px;
}
footer a{
	color:#37a08e;
}
